@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

body{
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 210px;
    
}

/*Navbar css*/

#navbarMain { 
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    

}
#mainNavList>li {
    display: inline-block;
}

#navTitle {
    float:left;
    margin-right: 5px;
}


/*main page starter info*/

.nameContainer {
    
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
    
}

.name {
    border: 0.4mm solid white;
    padding: 5mm;
}

.contactDivContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contactLink {
    margin-left: auto;
    margin-right: auto;
}

.contactDivEmail {
    
    border: 0.4mm solid white;
    height: 30px;
    width: 30px;
    background-image: url("emailIcon.png");
    background-size: 100%;
    filter: brightness(0) invert(1);
    
}

.contactDivLinkedIn {
    margin-left: auto;
    margin-right: auto;
    border: 0.4mm solid white;
    height: 30px;
    width: 30px;
    background-image: url("linkedin.png");
    background-size: 100%;
    filter: brightness(0) invert(1);
    
}

.contactDivGitHub {
    margin-left: auto;
    margin-right: auto;
    border: 0.4mm solid white;
    height: 30px;
    width: 30px;
    background-image: url("gitHubIcon.png");
    background-size: 100%;
    filter: brightness(0) invert(1);
    
}

.me{
    width: 100%;
}



/* Education div css */

.EducationDiv {
    
  text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.uLowellLogo {
    height: 260px;
    width: 200px;
    margin-bottom: 30px;
}

.EducationTitle {
    padding-top: 100px;
    padding-bottom: 30px;
}

.EducationBackground {
width: 60%;
margin: auto;
}

/* Skills div css */

.SkillsDiv {
    
    text-align: center;
      margin-top: 100px;
      margin-bottom: 100px;
  }
  
  .SkillsLogo {
      height: 200px;
      width: 200px;
      margin-bottom: 30px;
  }
  
  .SkillsTitle {
      padding-top: 100px;
      padding-bottom: 30px;
  }
  
  .SkillsBackground {
  width: 60%;
  margin: auto;
  }

.SkillsListContainer {
    text-align: center;
    /*border: 1px solid black;*/
    width: 300px;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px;
    background-color: rgb(228, 227, 227);
    border-radius: 20px;
}

.SkillsListTitle {
    height: 80px;
}

.SkillsList {
    /*border: 1px solid black;*/
    display: inline-block;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.SkillLists{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Professional Experience CSS */

.ExperienceDiv {
    
    text-align: center;
      margin-top: 100px;
      margin-bottom: 100px;
  }

  .ExperienceTitle {
    padding-top: 100px;
    padding-bottom: 30px;
}

.ExperienceBackground {
width: 60%;
margin: auto;
}

.ExperienceLogo {
    height: 100px;
    width: 390px;
    margin-bottom: 30px;
}


/*Reveal css with reference: https://www.youtube.com/watch?v=VplDlwLTR50*/

.reveal {
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
    
